extends ../manager_layout.jade

block content
    div.content
        div.user-userinfo
            div.head
                img(src=userimg)
            div.userinfo-container
                div.name= username
                div.email-container
                    span.email= email 
                    span.identify= identify==0? '普通用户':'管理员'                                     	
        div.user-posts-container
            each post in posts
                div.user-post
                    span.post-name= post.title
                    span.post-category= post.category.title
                    span.post-created= moment(post.created).format('YYYY年MM月DD日 hh:mm:ss')
                    span.post-fabulous= post.published==true?'已发布':'未发布'                                                          	
